@import "../../../styles/variables.scss";

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;

    span{
        font-size: 14px;
        text-decoration: underline;
        text-align: right;
        color: $secondary-color;
    }

    .password-alert {
        display: block;
        margin-bottom: 6px;
        font-size: 0.85rem;
        color: #d32f2f;
        font-weight: 500;
    }

}

