<main>
    <section class="form-section">
        <img ngSrc="/assets/png/logo.png" alt="logo" width="182" height="59" priority/>

        <h2>{{title}}</h2>

        <ng-content></ng-content>

        <div class="btn-wrapper">
            <button class="btn-primary">{{primaryBtnText}}</button>

            <div class="divider">
                <div></div>
                <span>Or</span>
                <div></div>
            </div>

            <button class="btn-secondary">{{secondaryBtnText}}</button>
        </div>

      
    </section>
    
    <section class="main-section">
        <h1>You should, MoveIt!</h1>
        <img ngSrc="/assets/png/main-ilustration.png" alt="logo" width="597" height="534" priority/>
    </section>
</main>