@import "../../../styles/variables.scss";

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;

    span{
        font-size: 14px;
        text-decoration: underline;
        text-align: right;
        color: $secondary-color;
    }
}

